# Xcode
DerivedData/
*.xcworkspace/
.build/
*.xcuserdatad/
xcuserdata/
*.xcodeproj/project.xcworkspace/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/

# Misc
.DS_Store
.env
